<script>
  export default {
    data() {
      return {
        msg: 'Hello World!'
      }
    }
  }
</script>

<template>
  <div>
    <div class="home">
      <h1>
        欢迎使用精准扶贫信息系统！
      </h1>
      <!--<el-row>-->
      <!--  <el-button>{{ msg }}</el-button>-->
      <!--  <el-button round>圆角按钮</el-button>-->
      <!--  <el-button type="primary" round>主要按钮</el-button>-->
      <!--  <el-button type="success" round>成功按钮</el-button>-->
      <!--  <el-button type="info" round>信息按钮</el-button>-->
      <!--  <el-button type="warning" round>警告按钮</el-button>-->
      <!--  <el-button type="danger" round>危险按钮</el-button>-->
      <!--</el-row>-->
    </div>
  </div>

</template>

<style scoped></style>