<template>
  <div id="app" class="home">
    <el-container>
      <el-header style="background-color: #38393c;">
        <img src="@/assets/logo.png" style="width: 100px; position:absolute;left:10px;top:10px;">
        <span style="position:absolute;left:120px;top:15px;font-size: 1.5rem;color: white;">精准扶贫信息系统</span>
        <span style="position:absolute;left:350px;top:20px;font-size: 1rem;color: white;">
          <span style="margin-right: 1rem">当前: {{ this.$route.meta.title }}</span>
          <span>负责人: {{ this.$route.meta.负责人 }}</span>
        </span>
      </el-header>
      <el-container>
        <el-aside style="background-color:#B3C0D1; width:200px;min-height: 90vh;">
          <el-menu default-active="$route.path" router class="el-menu-vertical-demo" @open="handleOpen"
                   @close="handleClose" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="/">
              <i class="el-icon-s-home"></i>
              <span slot="title">系统首页</span>
            </el-menu-item>
            <el-submenu index="2">
              <template #title>
                <i class="el-icon-menu"></i>
                <span>用户管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="/poverty_admin">管理员信息</el-menu-item>
                <el-menu-item index="/poverty_households">贫困户基本信息</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="3">
              <template #title>
                <i class="el-icon-document"></i>
                <span>项目管理</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="/poverty_alleviation_projects">扶贫项目</el-menu-item>
                <el-menu-item index="/poverty_funds">资金使用</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
            <el-submenu index="4">
              <template #title>
                <i class="el-icon-s-data"></i>
                <span>扶贫近况</span>
              </template>
              <el-menu-item-group>
                <el-menu-item index="/poverty_needs">需求情况</el-menu-item>
                <el-menu-item index="/poverty_assistance">帮扶情况</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<style lang="less">

.el-menu {
  border-right: none !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  sans-serif;
  color: #191b1f;
  background-color: #F4F6F9;
  font-size: 15px;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 2rem;
}
</style>

<script>
import {defineComponent} from 'vue'
import axios from 'axios'

export default defineComponent({
  methods: {
    handleOpen: (key, keyPath) => {
      console.log(key, keyPath)
    },
    handleClose: (key, keyPath) => {
      console.log(key, keyPath)
    }
  },
  mounted() {
    const elNotification = (title, type, message) => {
      this.$notify({title, message, type, duration: 4500})
    }
    axios.defaults.withCredentials = true;
    axios.interceptors.request.use(config => config)
    axios.defaults.timeout = 5 * 1000;
    const responseSuccess = (response) => {
      const data = response.data
      console.log('response.data', response.data)
      if (data == null) {
        elNotification('未知错误', 'error')
        console.log("error data: ", data);
        return Promise.reject(response)
      } else if (data.code === 200) {
        return Promise.resolve(response)
      } else {
        elNotification(data.msg, 'error')
        return Promise.reject(data)
      }
    }
    const responseFailed = (err) => {
      console.error('err', err)
      if (!axios.isAxiosError(err)) {
        elNotification('未知错误', 'error', JSON.stringify(err))
      } else if (err.code === 'ERR_NETWORK') {
        elNotification('格式错误', 'error', JSON.stringify(err.code))
      } else if (err.code === 'ERR_BAD_REQUEST') {
        elNotification('格式错误', 'warning', JSON.stringify(err.code))
      } else if (err.code === 'ECONNABORTED') {
        elNotification('网络中断', 'error', JSON.stringify(err.code))
      } else {
        elNotification('未知错误，请联系管理员', 'error', JSON.stringify(err))
      }
      return Promise.reject(err)
    }
    axios.interceptors.response.use(responseSuccess, responseFailed);
    console.log("axiosInit done");
  },
})
</script>