<template>
  <div id="back-img">
    <div id="login-sty">
      <span id="wel-words">欢迎登录</span>
      <el-form
          @keyup.enter.native="login('ruleForm')"
          :model="ruleForm"
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
          class="demo-ruleForm"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="ruleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="ruleForm.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button class="el-button" type="primary" @click="login('ruleForm')"
          >登录
          </el-button
          >
          <el-button
              class="el-button"
              type="primary"
              @click="resetForm('ruleForm')"
          >重置
          </el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import request from "@/utils/request";

export default Vue.extend({
  name: "home",
  data() {
    return {
      ruleForm: {
        username: "",
        password: "",
      },
      /* 校验规则 */
      rules: {
        /* required: true 代表必须也就是不能为空的意思
             min: 1 最少输入一位
             在这个地方你还可以自由的去添加正则表达式去判断用户输入的格式
             是不是手机号
          */
        username: [
          {required: true, message: "账户不能为空", trigger: "blur"},
          {
            required: true,
            pattern: /^.*$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
          {min: 1, message: "长度最少1个字符", trigger: "blur"},
        ],
        password: [
          /* required: true 代表必须也就是不能为空的意思
             min: 1 最少输入一位
          */
          {required: true, message: "密码不能为空", trigger: "blur"},
          {min: 1, message: "长度最少1个字符", trigger: "blur"},
        ],
      },
    };
  },
  methods: {
    login(formName) {
      //判断是否满足规则
      this.$refs[formName].validate((valid) => {
        if (valid) {
          request.post("/poverty_admin/login", this.ruleForm).then((res) => {
            console.log('res7051', res)
            if (res.code === 200) {
              //将登陆成功的用户信息放入浏览器的本地存储中
              localStorage.setItem("user", JSON.stringify(res.data));
              //跳转页面
              this.$router.push("/home");
              this.$message({
                message: "登录成功",
                type: "success",
              });
            } else {
              this.$message.error(res.data);
            }
          });
        } else {
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
});
</script>
<style scoped>
#back-img {
  background-image: url("@/assets/login-2.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: 100% 100%;
}

#login-sty {
  border: 1px solid;
  //width: 400px;
  //height: 270px;
  //margin: 300px auto;
  position: fixed;
  top: 30vh;
  left: 60vh;
  /* 内边距 */
  padding: 40px;

  //box-shadow: 10px 10px 10px 10px #7c7f84;
  /* 边框阴影 */
  background-color: rgba(0, 0, 0, 50%);
}

#login-sty /deep/ .el-form-item__label {
  color: white;
}

#login-sty .el-input {
  width: 230px;
}

#login-sty .el-button {
  width: 70px;
  height: 40px;
  font-size: 17px;
  margin-right: 50px;
}

#wel-words {
  text-align: center;
  display: block;
  width: 120px;
  height: 60px;
  margin: 0 auto;
  font-size: 27px;
  color: white;
  //color: rgba(139, 149, 158, 0.763);
  font-weight: bold;
}
</style>

