<script>
import povertyFundsApi from "@/script/povertyFundsApi";

export default {
  data() {
    return {
      time: {
        start: new Date(),
        end: new Date()
      },
      formLabelWidth: '120px',
      dialogFormVisible: false,
      /**
       * @type {fp_PovertyAlleviationProject}
       */
      form: {
        id: null, //资金的唯一标识符
        projectId: "",//对应的项目ID
        budget: 0,//预算金额
        usedAmount: 0,//已使用金额
        remainingAmount: 0,//剩余金额
        usageDescription: ''//资金使用描述
      },
      input: '',
      /**
       * @type {fp_Pagination<fp_PovertyFunds>}
       */
      page: {
        records: [],
        total: 0,
        size: 10,
        current: 1,
        pages: 0,
      }
    }
  },
  methods: {
    async refreshPages() {
      try {
        console.log(this.input.length)
        if (this.input.length === 0) {
          const res = await povertyFundsApi.list(this.page.current, this.page.size);
          console.log(res)
          this.page = res.data
        } else {
          const res = await povertyFundsApi.searchList(this.input, this.page.current, this.page.size)
          console.log(res)
          this.page = res.data
        }
      } catch (e) {
        console.log(e.code)
      }
    },
    /**
     * @param {number} size
     */
    handleSizeChange(size) {
      this.page.size = size
      this.refreshPages()
    },
    /**
     * @param {number} current
     */
    handleCurrentChange(current) {
      this.page.current = current
      this.refreshPages()
    },
    edit(row) {
      console.log(row)
      this.form = row
      this.time.start = new Date(this.form.startDate)
      this.time.end = new Date(this.form.endDate)
      this.dialogFormVisible = true
    },
    add() {
      this.form = {
        id: null,
        projectId: "",
        budget: 0,
        usedAmount: 0,
        remainingAmount: 0,
        usageDescription: ''
      }
      this.time.start = new Date()
      this.time.end = new Date()
      this.dialogFormVisible = true
    },
    addForm() {
      if (this.form.id == null) {
        // 刷新
        povertyFundsApi.create(this.form)
      } else {
        // 创建
        povertyFundsApi.update(this.form)
      }
      this.$notify({title: "成功", type: "success"})
      this.dialogFormVisible = false
      setTimeout(this.refreshPages, 1000)
    },
    delForm(row) {
      povertyFundsApi.delete(row.id)
      this.$notify({title: "成功", type: "success"})
      this.dialogFormVisible = false
      setTimeout(this.refreshPages, 1000)
    }
  },
  async mounted() {
    await this.refreshPages()
  }
}
</script>
<template>
  <div>
    <h1>
      扶贫资金使用
    </h1>
    <!--<div v-if="page.records.length > 0">-->
    <!--  {{ JSON.stringify(page.records[0], null, 4) }}-->
    <!--</div>-->
    <div style="margin-bottom: 1rem;">
      <el-input placeholder="请输入项目名称" style="width: 40vh;margin-right: 1rem;" clearable
                v-model="input" @keyup.enter.native="refreshPages"></el-input>
      <el-button type="warning" @click="refreshPages">查询</el-button>
      <el-button type="info" @click="input=''">重置</el-button>
      <el-button type="primary" @click="add">添加</el-button>
    </div>
    <el-table :data="page.records" stripe style="width: 100%;margin-bottom: 1rem;">
      <el-table-column prop="id" label="项目id"/>
      <el-table-column prop="projectId" label="对应项目id"/>
      <el-table-column prop="budget" label="预算金额">
        <template slot-scope="scope">
          {{ (scope.row.budget / 100).toFixed(2) }}
        </template>
      </el-table-column>
      <el-table-column prop="usedAmount" label="已使用金额">
        <template slot-scope="scope">
          {{ (scope.row.usedAmount / 100).toFixed(2) }}
        </template>
      </el-table-column>
      <el-table-column prop="remainingAmount" label="剩余金额">
        <template slot-scope="scope">
          {{ (scope.row.remainingAmount / 100).toFixed(2) }}
        </template>
      </el-table-column>
      <el-table-column prop="usageDescription" label="资金使用描述"/>
      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <div style="margin-bottom: 5px">
            <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
          </div>
          <div>
            <el-popconfirm title="确定删除吗" @confirm="delForm(scope.row)">
              <el-button slot="reference" type="danger">删除</el-button>
            </el-popconfirm>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
        :current-page="page.current"
        :page-size="page.size"
        :page-sizes="[2,4,5,10]"
    />

    <el-dialog title="添加信息" :visible.sync="dialogFormVisible" width="500px">
      <el-form :model="form">
        <el-form-item label="所属项目id" :label-width="formLabelWidth">
          <el-input
              v-model="form.projectId"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="预算金额" :label-width="formLabelWidth">
          <el-input
              v-model="form.budget"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="已使用金额" :label-width="formLabelWidth">
          <el-input
              v-model="form.usedAmount"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="剩余金额" :label-width="formLabelWidth">
          <el-input
              v-model="form.remainingAmount"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="资金使用描述" :label-width="formLabelWidth">
          <el-input
              v-model="form.usageDescription"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addForm">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<style scoped></style>