<template>
  <div class="about">
    <el-input
        style="width: 20%; margin-right: 10px"
        @keyup.enter.native="search()"
        placeholder="请输入家庭ID"
        v-model="householdId"
        clearable
    >
    </el-input>
    <el-button type="warning" @click="search">查询</el-button>
    <el-button type="info" @click="reSearch">重置</el-button>
    <el-button type="primary" @click="addDialog">添加</el-button>
<!--  <div>{{tableData[0]}}</div>-->
    <el-table
        :data="tableData"
        stripe
        style="width: 100%"
        :row-class-name="tableRowClassName"
    >
      <el-table-column prop="id" label="序号" width="180"> </el-table-column>
      <el-table-column prop="householdId" label="家庭ID" width="180">
      </el-table-column>
      <el-table-column prop="projectId" label="项目ID" width="180">
      </el-table-column>
      <el-table-column prop="startDate" label="开始日期" width="180"> </el-table-column>
      <el-table-column prop="endDate" label="结束日期"> </el-table-column>
      <el-table-column prop="assistanceOutcome" label="帮扶情况"> </el-table-column>
      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="editDialog(scope.row)">编辑</el-button>
          <el-popconfirm title="确定删除吗？" @confirm="del(scope.row.id)">
            <el-button slot="reference" type="danger" style="margin-left: 10px;">删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[2,10, 20, 50, 100]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
    >
    </el-pagination>

    <el-dialog title="添加信息" :visible.sync="addDialogVisible" width="500px">
      <el-form :model="form">
        <el-form-item label="家庭ID" :label-width="formLabelWidth">
          <el-input
              v-model="form.householdId"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目ID" :label-width="formLabelWidth">
          <el-input
              v-model="form.projectId"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="开始日期" :label-width="formLabelWidth">
          <el-input
              v-model="form.startDate"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="结束日期" :label-width="formLabelWidth">
          <el-input
              v-model="form.endDate"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="帮扶情况" :label-width="formLabelWidth">
          <el-input
              v-model="form.assistanceOutcome"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmAdd">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="编辑信息" :visible.sync="editDialogVisible" width="500px">
      <el-form :model="form">
        <el-form-item label="家庭ID" :label-width="formLabelWidth">
          <el-input
              v-model="form.householdId"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目ID" :label-width="formLabelWidth">
          <el-input
              v-model="form.projectId"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="开始日期" :label-width="formLabelWidth">
          <el-input
              v-model="form.startDate"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="结束日期" :label-width="formLabelWidth">
          <el-input
              v-model="form.endDate"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="帮扶情况" :label-width="formLabelWidth">
          <el-input
              v-model="form.assistanceOutcome"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmEdit">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import request from "@/utils/request";
export default {
  data() {
    return {
      addDialogVisible: false,
      editDialogVisible: false,
      form: {
        householdId: "",
        projectId: "",
        startDate: "",
        endDate: "",
        id: "",
        assistanceOutcome:""
      },
      formLabelWidth: "120px",

      //total: 0,
      currentPage: 1,
      currentSize: 10,
      pageNum: 1,
      pageSize: 10,
      total: 0,
      householdId: "",
      tableData: [],
    };
  },
  methods: {
    del(id){
      request.delete('/poverty_assistance/delete/'+id).then(res=>{
        if(res.code==200){
          this.$message.success("操作成功")
          this.reSearch()
        }
      })
    },
    editDialog(row) {
      console.log(row);
      this.form=row
      this.editDialogVisible=true
    },
    confirmEdit(){
        this.editDialogVisible = false;
        request.post("/poverty_assistance/update", this.form).then((res) => {
          if (res.code == 200) {
            this.$message.success("操作成功");
            this.reSearch();
          }
        });
    },
    confirmAdd() {
      this.addDialogVisible = false;
        request.post("/poverty_assistance/create", this.form).then((res) => {
          if (res.code == 200) {
            this.$message.success("操作成功");
            this.reSearch();
          }
        });
    },
    addDialog() {
      this.addDialogVisible = true;
      this.form = {
        householdId: "",
            projectId: "",
            startDate: "",
            endDate: "",
            id: "",
            assistanceOutcome:""
      }
    },
    reSearch() {
      this.householdId = "";
      const params = {
        householdId: this.householdId,
        current: this.current,
        pageSize: this.pageSize,
      };
      request.get("/poverty_assistance/", { params: params }).then((res) => {
        console.log(res);
        this.tableData = res.data.records;
        this.total = res.data.total;
      }).catch(err => {
        console.error(err)
      });
    },
    search() {
      if (this.householdId.length == 0) {
        this.reSearch()
        return
      }
      const params = {
        householdId: this.householdId,
      };
      request.get('/poverty_assistance/searchone',{params: params}).then(res=>{
        console.log(res)
        this.tableData =[res.data];
      })
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return "warning-row";
      } else if (rowIndex === 3) {
        return "success-row";
      }
      return "";
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.reSearch();
    },
    handleCurrentChange(val) {
      this.current = val;
      this.reSearch();
    },
  },
  mounted() {
    //加载页面自动执行代码
    this.reSearch();
  },
};
</script>


<style>
.el-table .warning-row {
  background: orange;
}

.el-table .success-row {
  background: #f0f9eb;
}
</style>