<template>
  <div>
    <h1>
      管理员信息管理
    </h1>
    <!--<div>-->
    <!--  {{ JSON.stringify(tableData[0], null, 4) }}-->
    <!--</div>-->
    <div style="margin-bottom: 1rem;">
      <el-input
          style="width: 20%; margin-right: 10px"
          @keyup.enter.native="search()"
          placeholder="请输入管理员姓名"
          v-model="username"
          clearable
      >
      </el-input>
      <el-button type="warning" @click="search">查询</el-button>
      <el-button type="info" @click="reSearch">重置</el-button>
      <el-button type="primary" @click="addDialog">添加</el-button>

    </div>
    <el-table :data="tableData" stripe style="width: 100%;margin-bottom: 1rem;"
              :row-class-name="tableRowClassName">
      <el-table-column prop="id" label="序号"/>
      <el-table-column prop="realName" label="姓名"/>
      <el-table-column prop="username" label="用户名"/>
      <el-table-column prop="password" label="密码"/>
      <el-table-column prop="role" label="角色"/>
      <el-table-column prop="email" label="邮箱"/>
      <el-table-column prop="phone" label="手机号"/>
      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
          <el-popconfirm title="确定删除吗？" @confirm="del(scope.row.id)">
            <el-button slot="reference" type="danger" style="margin-left: 10px;">删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pageNum"
        :page-sizes="[2, 5, 10, 20]"
        :page-size="currentSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
    >
    </el-pagination>

    <el-dialog title="添加信息" :visible.sync="dialogFormVisible" width="500px">
      <el-form :model="form">

        <el-form-item label="姓名" :label-width="formLabelWidth">
          <el-input
              v-model="form.realName"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>

        <el-form-item label="用户名" :label-width="formLabelWidth">
          <el-input
              v-model="form.username"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="密码" :label-width="formLabelWidth">
          <el-input
              v-model="form.password"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-input
              v-model="form.role"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input
              v-model="form.email"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input
              v-model="form.phone"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmAdd">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import request from "@/utils/request";
export default {
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      form: {
        realName:'',
        username: "",
        password: "",
        tel: "",
        address: "",
        id: "",
      },
      formLabelWidth: "120px",
      total: 0,
      currentPage: 1,
      currentSize: 10,
      pageNum: 1,
      pageSize: 10,
      username: "",
      tableData: [],
    }
  },
  methods: {
    del(id){
      request.delete('/poverty_admin/delete/'+id).then(res=>{
        if(res.code==200){
          this.$message.success("操作成功")
          this.reSearch()
        }
      })
    },
    edit(row) {
      console.log(row);
      this.form=row
      this.dialogFormVisible=true
    },
    confirmAdd() {
      this.dialogFormVisible = false;
      request.post("/poverty_admin/save", this.form).then((res) => {
        if (res.code == 200) {
          this.$message.success("操作成功");
          this.reSearch();
        }
      });
    },
    addDialog() {
      this.dialogFormVisible = true;
      this.form = {
        realName: "",
        username: "",
        password: "",
        tel: "",
        address: "",
        id: "",
      }
    },
    reSearch() {
      this.username = "";
      this.search();
    },
    search() {
      const params = {
        username: this.username,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
      };
      request.get("/poverty_admin/list", { params: params }).then((res) => {
        console.log(res);
        this.tableData = res.data.list;
        this.total = res.data.total;
      });
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return "warning-row";
      } else if (rowIndex === 3) {
        return "success-row";
      }
      return "";
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.search();
    },
    handleCurrentChange(val) {
      this.pageNum = val;
      this.search();
    },
  },
  mounted() {
    //加载页面自动执行代码
    this.search();
  },

}
</script>

<style>
.el-table .warning-row {
  background: orange;
}

.el-table .success-row {
  background: #f0f9eb;
}
</style>