<template>
  <div>
    <h1>
      贫困户信息管理
    </h1>
    <!--<div>-->
    <!--  {{ JSON.stringify(tableData[0], null, 4) }}-->
    <!--</div>-->
    <div style="margin-bottom: 1rem;">
      <el-input
          style="width: 20%; margin-right: 10px"
          @keyup.enter.native="search()"
          placeholder="请输入贫困户姓名"
          v-model="householdName"
          clearable
      >
      </el-input>
      <el-button type="warning" @click="search">查询</el-button>
      <el-button type="info" @click="reSearch">重置</el-button>
      <el-button type="primary" @click="addDialog">添加</el-button>

    </div>
    <el-table :data="tableData" stripe style="width: 100%;margin-bottom: 1rem;"
              :row-class-name="tableRowClassName">
      <el-table-column prop="id" label="序号"/>
      <el-table-column prop="householdName" label="贫困户家"/>
      <el-table-column prop="address" label="地址"/>
      <el-table-column prop="population" label="人口数量"/>
      <el-table-column prop="povertyLevel" label="贫困程度"/>
      <el-table-column prop="status" label="状态"/>
      <el-table-column prop="registrationDate" label="修改日期"/>
      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
          <el-popconfirm title="确定删除吗？" @confirm="del(scope.row.id)">
            <el-button slot="reference" type="danger" style="margin-left: 10px;">删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pageNum"
        :page-sizes="[2, 5, 10, 20]"
        :page-size="currentSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
    >
    </el-pagination>

    <el-dialog title="添加信息" :visible.sync="dialogFormVisible" width="500px">
      <el-form :model="form">

        <el-form-item label="贫困户家" :label-width="formLabelWidth">
          <el-input
              v-model="form.householdName"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>

        <el-form-item label="地址" :label-width="formLabelWidth">
          <el-input
              v-model="form.address"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="人口数量" :label-width="formLabelWidth">
          <el-input
              v-model="form.population"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="贫困程度" :label-width="formLabelWidth">
          <el-input
              v-model="form.povertyLevel"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="状态状态" :label-width="formLabelWidth">
          <el-input
              v-model="form.status"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="修改日期" :label-width="formLabelWidth">
          <el-input
              v-model="form.registrationDate"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmAdd">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import request from "@/utils/request";
  export default {
    data() {
      return {
        dialogTableVisible: false,
        dialogFormVisible: false,
        form: {
          registrationDate:"",
          householdName: "",
          address: "",
          population: "",
          povertyLevel: "",
          status:"",
          id: "",
        },
        formLabelWidth: "120px",
        realName:'',
        total: 0,
        currentPage: 1,
        currentSize: 10,
        pageNum: 1,
        pageSize: 10,
        householdName: "",
        tableData: [],
      }
    },
    methods: {
      del(id){
        request.delete('/poverty_households/delete/'+id).then(res=>{
          if(res.code==200){
            this.$message.success("操作成功")
            this.reSearch()
          }
        })
      },
      edit(row) {
        console.log(row);
        this.form=row
        this.dialogFormVisible=true
      },
      confirmAdd() {
        this.dialogFormVisible = false;
        request.post("/poverty_households/save", this.form).then((res) => {
          if (res.code == 200) {
            this.$message.success("操作成功");
            this.reSearch();
          }
        });
      },
      addDialog() {
        this.dialogFormVisible = true;
        this.form = {
          householdName: "",
          address: "",
          population: "",
          povertyLevel: "",
          status:"",
          id: "",
        }
      },
      reSearch() {
        this.householdName = "";
        this.search();
      },
      search() {
        const params = {
          householdName: this.householdName,
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        };
        request.get("/poverty_households/list", { params: params }).then((res) => {
          console.log(res);
          this.tableData = res.data.list;
          this.total = res.data.total;
        });
      },
      tableRowClassName({ row, rowIndex }) {
        if (rowIndex === 1) {
          return "warning-row";
        } else if (rowIndex === 3) {
          return "success-row";
        }
        return "";
      },
      handleSizeChange(val) {
        this.pageSize = val;
        this.search();
      },
      handleCurrentChange(val) {
        this.pageNum = val;
        this.search();
      },
    },
    mounted() {
      //加载页面自动执行代码
      this.search();
    },
  }
</script>

<style scoped></style>