<script>
import povertyAlleviationProjectsAPI from "@/script/povertyAlleviationProjectsAPI";
import povertyAlleviationProjectsApi from "@/script/povertyAlleviationProjectsAPI";

export default {
  data() {
    return {
      time: {
        start: new Date(),
        end: new Date()
      },
      formLabelWidth: '120px',
      dialogFormVisible: false,
      /**
       * @type {fp_PovertyAlleviationProject}
       */
      form: {
        id: null,
        projectName: "",
        projectType: "",
        budget: 0,
        startDate: "",
        endDate: "",
        status: ""
      },
      input: '',
      /**
       * @type {fp_PovertyAlleviationProject[]}
       */
      tableData: [],
      /**
       * @type {fp_Pagination<fp_PovertyAlleviationProject>}
       */
      page: {
        records: [],
        total: 0,
        size: 10,
        current: 1,
        pages: 0,
      }
    }
  },
  methods: {
    async refreshPages() {
      try {
        console.log(this.input.length)
        if (this.input.length === 0) {
          const res = await povertyAlleviationProjectsAPI.list(this.page.current, this.page.size);
          console.log(res)
          this.page = res.data
          this.tableData = res.data.records;
        } else {
          const res = await povertyAlleviationProjectsAPI.searchList(this.input, this.page.current, this.page.size)
          console.log(res)
          this.page = res.data
          this.tableData = res.data.records;
        }
      } catch (e) {
        console.log(e.code)
      }
    },
    /**
     * @param {number} size
     */
    handleSizeChange(size) {
      this.page.size = size
      this.refreshPages()
    },
    /**
     * @param {number} current
     */
    handleCurrentChange(current) {
      this.page.current = current
      this.refreshPages()
    },
    edit(row) {
      console.log(row)
      this.form = row
      this.time.start = new Date(this.form.startDate)
      this.time.end = new Date(this.form.endDate)
      this.dialogFormVisible = true
    },
    add() {
      this.form = {
        id: null,
        projectName: "",
        projectType: "",
        budget: "",
        startDate: "",
        endDate: "",
        status: ""
      }
      this.time.start = new Date()
      this.time.end = new Date()
      this.dialogFormVisible = true
    },
    addForm() {
      if (this.form.id == null) {
        // 刷新
        povertyAlleviationProjectsAPI.create(this.form)
      } else {
        // 创建
        povertyAlleviationProjectsApi.update(this.form)
      }
      this.$notify({title: "成功", type: "success"})
      this.dialogFormVisible = false
      setTimeout(this.refreshPages, 1000)
    },
    delForm(row) {
      povertyAlleviationProjectsAPI.delete(row.id)
      this.$notify({title: "成功", type: "success"})
      this.dialogFormVisible = false
      setTimeout(this.refreshPages, 1000)
    }
  },
  async mounted() {
    await this.refreshPages()
  }
}
</script>
<template>
  <div>
    <h1>
      扶贫项目管理
    </h1>
    <!--<div v-if="tableData.length > 0">-->
    <!--  {{ JSON.stringify(tableData[0], null, 4) }}-->
    <!--</div>-->
    <div style="margin-bottom: 1rem;">
      <el-input placeholder="请输入项目名称" style="width: 40vh;margin-right: 1rem;" clearable
                v-model="input" @keyup.enter.native="refreshPages"></el-input>
      <el-button type="warning" @click="refreshPages">查询</el-button>
      <el-button type="info" @click="input=''">重置</el-button>
      <el-button type="primary" @click="add">添加</el-button>
    </div>
    <el-table :data="page.records" stripe style="width: 100%;margin-bottom: 1rem;">
      <el-table-column prop="id" label="项目id"/>
      <el-table-column prop="projectName" label="项目名称"/>
      <el-table-column prop="projectType" label="项目类型"/>
      <el-table-column prop="budget" label="项目预算"/>
      <el-table-column label="开始日期">
        <template slot-scope="scope">
          <div>
            {{ new Date(scope.row.startDate).toLocaleString() }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="endDate" label="结束日期">
        <template slot-scope="scope">
          <div>
            {{ new Date(scope.row.endDate).toLocaleString() }}
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="status" label="项目状态"/>
      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <div style="margin-bottom: 5px">
            <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
          </div>
          <div>
            <el-popconfirm title="确定删除吗" @confirm="delForm(scope.row)">
              <el-button slot="reference" type="danger">删除</el-button>
            </el-popconfirm>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page.total"
        :current-page="page.current"
        :page-size="page.size"
        :page-sizes="[2,4,5,10]"
    />

    <el-dialog title="添加信息" :visible.sync="dialogFormVisible" width="500px">
      <el-form :model="form">
        <el-form-item label="项目名称" :label-width="formLabelWidth">
          <el-input
              v-model="form.projectName"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>

        <el-form-item label="项目类型" :label-width="formLabelWidth">
          <el-input
              v-model="form.projectType"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="项目预算" :label-width="formLabelWidth">
          <el-input
              v-model="form.budget"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="开始日期" :label-width="formLabelWidth">
          <el-date-picker
              v-model="time.start"
              type="datetime"
              placeholder="选择开始日期时间">
          </el-date-picker>
          <!--<el-input-->
          <!--    v-model="form.startDate"-->
          <!--    autocomplete="off"-->
          <!--    style="width: 200px"-->
          <!--&gt;</el-input>-->
        </el-form-item>
        <el-form-item label="结束日期" :label-width="formLabelWidth">
          <el-date-picker
              v-model="time.end"
              type="datetime"
              placeholder="选择结束日期时间">
          </el-date-picker>
          <!--<el-input-->
          <!--    v-model="form.endDate"-->
          <!--    autocomplete="off"-->
          <!--    style="width: 200px"-->
          <!--&gt;</el-input>-->
        </el-form-item>

        <el-form-item label="项目状态" :label-width="formLabelWidth">
          <el-input
              v-model="form.status"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addForm">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>
<style scoped></style>