<template>
  <div class="about">
    <el-input
        style="width: 20%; margin-right: 10px"
        @keyup.enter.native="search()"
        placeholder="请输入帮扶id"
        v-model="id"
        clearable
    >
    </el-input>
    <el-button type="warning" @click="search">查询</el-button>
    <el-button type="info" @click="reSearch">重置</el-button>
    <el-button type="primary" @click="addDialog">添加</el-button>

    <el-table
        :data="tableData"
        stripe
        style="width: 100%"
        :row-class-name="tableRowClassName">

      <el-table-column prop="id" label="序号" width="180"> </el-table-column>
      <el-table-column prop="householdId" label="家庭" width="180"></el-table-column>
      <el-table-column prop="needCategory" label="需求种类" width="180"></el-table-column>
      <el-table-column prop="needDescription" label="需求描述" width="180"> </el-table-column>

      <el-table-column prop="" label="操作">
        <template slot-scope="scope">
          <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
          <el-popconfirm title="确定删除吗？" @confirm="del(scope.row.id)">
            <el-button slot="reference" type="danger" style="margin-left: 10px;">删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="pageNum"
        :page-sizes="[5, 10, 20, 100]"
        :page-size="currentSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
    >
    </el-pagination>

    <el-dialog title="添加信息" :visible.sync="dialogFormVisible" width="500px">
      <el-form :model="form">

<!--        <el-form-item label="序号" :label-width="formLabelWidth">-->
<!--          <el-input-->
<!--              v-model="form.id"-->
<!--              autocomplete="off"-->
<!--              style="width: 200px"-->
<!--          ></el-input>-->
<!--        </el-form-item>-->
        <el-form-item label="家庭" :label-width="formLabelWidth">
          <el-input
              v-model="form.householdId"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="需求类型" :label-width="formLabelWidth">
          <el-input
              v-model="form.needCategory"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
        <el-form-item label="需求描述" :label-width="formLabelWidth">
          <el-input
              v-model="form.needDescription"
              autocomplete="off"
              style="width: 200px"
          ></el-input>
        </el-form-item>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="confirmAdd">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import request from "@/utils/request";
export default {
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      form: {
        id: "",
        householdId: "",
        needCategory: "",
        needDescription: "",
      },
      formLabelWidth: "120px",
      currentPage: 1,
      currentSize: 10,
      pageNum: 1,
      pageSize: 10,
      total: 0,
      household_id:"",
      id: "",
      tableData: [],
    };
  },
  methods: {
    del(id){
      request.delete("/poverty_needs/delete/" + id).then(res=>{
        if(res.code == "200"){
          this.$message.success("操作成功")
          this.search()
        }
      })
    },
    edit(row) {
      // 编辑某条信息
      console.log(row);
      this.form = row;
      this.dialogFormVisible = true
    },
    confirmAdd() {
      this.dialogFormVisible = false;
      // 发送请求，携带用户要添加的数据
      request.post("/poverty_needs/save", this.form).then((res) => {
        if (res.code == "200") {
          this.$message.success("操作成功");
          this.reSearch();
          this.form={}
        }
      });
    },
    addDialog() {
      this.dialogFormVisible = true;
      this.form = {
        id: "",
        household_id: "",
        need_category: "",
        need_description: "",
      }
    },
    reSearch() {
      this.id = "";
      this.search();
    },
    search() {
      const params = {
        id: this.id,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
      };
      request.get("/poverty_needs/list", { params: params }).then((res) => {
        console.log(res);
        this.tableData = res.data.list;
        this.total = res.data.total;
      });
    },
    tableRowClassName({ row, rowIndex }) {
      if (rowIndex === 1) {
        return "warning-row";
      } else if (rowIndex === 3) {
        return "success-row";
      }
      return "";
    },
    handleSizeChange(val) {
      this.pageSize = val;
      this.search();
    },
    handleCurrentChange(val) {
      this.pageNum = val;
      this.search();
    },
  },
  mounted() {
    //加载页面自动执行代码
    this.search();
  },
};
</script>


<style>
.el-table .warning-row {
  background: orange;
}

.el-table .success-row {
  background: #f0f9eb;
}
</style>